{{#liquid-if updateCommentForm}}
  <h3>Update {{comment.userName}}'s comment</h3>
    <form class="comment-form">
      <label for="userName">Username</label><br>
      {{input value=userName id="userName"}}<br>

      <label for="description">Comment:</label><br>
      {{textarea value=description id="description"}}<br>

      <label for="rating">Rate 1 through 10</label><br>
      {{input value=rating id="rating"}}<br>

      <button {{action 'update' comment}}>Save</button>
    </form>
{{else}}
  <button {{action 'updateCommentForm'}}>Update</button>
{{/liquid-if}}
